@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap'); /* weight: 300 - 700 */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Fira Code", monospace;
    background-color: #131313;
    color: #ffffff;
    line-height: 2;
    font-size: 1.1rem;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
}

#banner-navbar-space {
    min-height: 108px;
}

.emoji {
    font-family: "Noto Color Emoji", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#navbar {
    background-color: #33168b;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.6em;
    padding-right: 0.6em;
    transition: top 0.4s;

    & a {
        color: white;
        float: left;
        display: block;
        text-decoration: none;
        text-align: center;
        padding: 14px 16px;
    }
}

.nav-title {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: left;
}

.sections { /* nav buttons */
    display: flex;
    height: 100%;

    & a {
        font-size: 1.1rem;
        display: flex;
        align-items: center;
    }
}

/* dropdown */
.dropbtn {
    background-color: #33168b;
    color: white;
    padding: 16px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: none;
}

.dropdown-items {
    position: absolute;
    background-color: #2b2b2b;
    top: 100%;
    right: 0;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-15px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    box-shadow: 0 2px 15px 0 rgb(23, 12, 70);
    z-index: 1000;

    & a {
        color: rgb(255, 255, 255);
        padding: 0.75em 1em;
        text-decoration: none;
        display: block;
        width: 100%;

        &:hover {
            background-color: #4d4d4d;
        }
    }
}

.active {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.banner {
    background-size: cover;
    text-align: center;
    min-height: 35em;
    width: 100%;
    /* vertically center */
    display: inline-flex;
    flex-direction: column;
    justify-content: center;

    & h1 {
        font-size: 6rem;
        color: #ffffff;
    }

    & p {
        font-size: 2rem;
        color: #ffffff;
    }
}

hr {
    border: none;
    border-top: 0.15em solid #3a3a3a;
    margin: 1em;
}

section {
    padding: 1.3em;
}

section > h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: 500;
    color: white;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    font-size: 1rem;
    margin-bottom: 5px;
    color: white;
}

.projects, .languages {
    margin-top: 2em;
}

.projects a {
    color: #c1acff;
    text-decoration: none;
}

.progress-bar {
    background-color: #222;
    border-radius: 1.3em;
    overflow: hidden;
    margin: 5px 0 15px;
}

.progress {
    background-color: #7c50fc;
    height: 20px;
    line-height: 20px;
    text-align: right;
    padding-right: 10px;
}

.projects-container {
    margin: 0.8rem;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
    justify-content: center;
    gap: 1.6rem;
    padding: 0.75rem;
}

.project {
    padding: 1em;
    background-color: #252525;
    border-radius: 0.8rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    max-width: 100%;

    & img {
        width: 100%;
        border-radius: 6%;
        margin-top: 0.5em;
    }
}

.contacts {
    background-color: #2c1586;
    padding: 20px;
    text-align: center;

    & a { /* bolinhas */
        display: inline-block;
        width: 60px;
        height: 60px;
        background-color: white;
        border-radius: 50%;
        margin: 0 10px;
        background-size: cover;
    }

    & p {
        font-size: 14px;
        margin-top: 10px;
        color: #d0c0f0;
    }
}

#github {
    background-image: url("images/contact-icons/Github.svg");
}

#email {
    background-image: url("images/contact-icons/Gmail.svg");
}

#linkedin {
    background-image: url("images/contact-icons/LinkedIN.svg");
}

@media (max-width: 1400px) { /* dropdown */
    .sections {display: none;}
    .dropdown {display: block;}
}

@media (max-width: 600px) {
    #navbar {
        flex-direction: column;
    }

    .nav-title {
        font-size: 2rem;
    }

    .dropdown-items {
        left: 50%;
        right: auto;
        transform: translate(-50%, -10px);
    }

    .active {
        transform: translate(-50%, 0);
    }

    .banner h1 {
        font-size: 5rem;
    }

    .banner p {
        font-size: 2rem;
    }
}

@media (max-width: 390px) {
    .nav-title {
        font-size: 2rem;
    }

    .banner h1 {
        font-size: 3.8rem;
    }

    .banner p {
        font-size: 1.7rem;
    }

    .projects-container {
        grid-template-columns: 1fr;
    }
}